@import "style.scss";

.hero{
     height: 80vh;
     overflow: hidden!important;
}

.cross{
     border-bottom: 1px solid $blue;
     padding: 10px 20px;
     height: 40px;
     img{
          width: 30px;
          padding: 3px;
          border: 1px solid $blue;
          float: right;
     }
}

.window{
     img{
          display: block; 
          padding: 0px;
     }

     .error-message{
          display: flex;
          justify-content: center;
          align-items: center; 
          padding: 20px 0; 
          img{margin-right: 15px;}      
     }

     .action-btn{
          display: flex;
          justify-content: space-around;
          padding-bottom: 30px;
          button{
               padding: 10px;
               width: 30%;
               border: 1px solid $blue;
               filter: drop-shadow(4px 4px 0px $blue);
               font-size: 20px;
               @media screen and (max-width: 900px){
                    width: 40%;
               }
          }
     }
}

.error-window{
     width: 40%;
     right: 20vw;
     top: 25vh;
     z-index: 1000;
     @media screen and (max-width: 900px){
          width: 90%;
          top: 35vh;
          right: 0;
     }
}

.pacman-window{
     width: 40%;
     left: 10vw;
     top: 15vh;
     @media screen and (max-width: 900px){
          width: 80%;
          left:10vw;
     }
}

.dino-window{
     width: 60%;
     left: 20vw;
     top: 50vh;
     @media screen and (min-width: 900px){
          left: 35vw;
     }
}

.pizza-window{
     width: 40%;
     left: 5vw;
     top: 60vh;
     @media screen and (max-width: 900px){
          width: 70%;
          left: 0vw;
          top: 40vh;
     }
}

.presentation {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 100px 0px;
     @media screen and (max-width: 900px){
          display: block;
     }
     .smile{
          width: 100px;
          position: relative;
          top:100px;
          left: 50%;
     }
     h2{font-size: 90px;}
     h3{margin-top: 10px;}
     p{
          margin: 30px 0px;
     }
     img{
          display: block;
          @media screen and (max-width: 600px){
               margin-left: -50px;
               }
     }
     div:first-of-type{
          width: 70%;
          @media screen and (max-width: 600px){
               width: 100%;
               }
     }
     .wondering{
          width: 100px;
          position: relative;
          z-index: 10;
          top:-40px;
          left:80%;
          
     }
     .myphoto{
          width: 70%;
          margin: auto;
          margin-top: 200px;
          border: 2px solid $blue;
               filter: drop-shadow(4px 4px 0px $blue);
           @media screen and (max-width: 600px){
               margin-top: 20px;
               }
     }
     a{
          padding: 15px 50px;
          margin: 5px 10px;
          border: 1px solid #1D38F3;
          filter: drop-shadow(4px 4px 0px #1D38F3);
          background-color: #f7e6f4;
          button{
               font-size: 25px; 
               background-color: transparent;
               margin-bottom:60px
          }
     }
}

.education{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     margin-bottom: 100px;
     @media screen and (max-width: 900px){grid-template-columns: 1fr;}
     div{
          padding: 0px 20px;
          h3 {
               border-top:solid 1px $blue;
               margin-top:20px;
               padding-top: 10px;
          }
     }
     p{
          margin-top: 20px;
     }
}

.passion-title{
     color:$pink; 
     text-shadow: -1px -1px 0 $blue, 1px -1px 0 $blue, -1px 1px 0 $blue, 1px 1px 0 $blue;
     font-size: 10vw;
     margin-top: 100px;
     @media screen and (max-width: 600px){
          font-size: 60px;
     }
}

.passions{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     background-color: #f7e6f4;
     opacity: 0.8;
     background-image:  linear-gradient(#1d38f3 1px, transparent 1px), linear-gradient(to right, #1d38f3 1px, #f7e6f4 1px);
     background-size: 20px 20px;
     @media screen and (max-width: 1200px){
          grid-template-columns: repeat(2, 1fr);
     }
     @media screen and (max-width: 600px){
          grid-template-columns: 1fr;
     }
     h3{
          font-size: 80px;
          color: $yellow;
          filter: drop-shadow(6px 6px 0px $pink);
          text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
          @media screen and (max-width: 600px){
               font-size: 50px;
          }
     }
     .passion{
          padding: 40px;
          h3{
               @media only screen 
                         and (min-device-width: 768px) 
                         and (max-device-width: 1024px) {
                              font-size: 50px;
                              margin-left: -50px;
                              }
          }
          img{
               width: 300px;
               height: 400px;
               object-fit: cover;
               margin: -20px 0px;
               @media only screen 
                         and (min-device-width: 768px) 
                         and (max-device-width: 1024px) {
                              width: 150px;
                    height: 250px;
                    margin-left: 0%;
                              }
               @media screen and (max-width: 600px){
                    width: 200px;
                    height: 300px;
                    margin-left: 10%;
               }
          }
     }
     .music{margin-top: -70px;}
     .draw img {transform: rotate(20deg)};
     .graphic img {transform: rotate(-20deg)};
     .books img {transform: rotate(15deg); };
     .music img {transform: rotate(30deg);};
     .korea img {transform: rotate(-15deg);};
}


.skills{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     @media screen and (max-width: 900px){
          justify-content: start;}
     .skill{
          padding: 10px 50px;
          @media screen and (max-width: 900px){padding: 10px 20px;}
          margin: 5px 10px;
          font-size: 25px;
          border: 1px solid $blue;
          filter: drop-shadow(4px 4px 0px $blue);
          background-color: #f7e6f4;
          p{
               @media screen and (max-width: 900px){font-size: 20px;}
          }
          
     }
}






