@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap');
   
$bg-color: #F4F1EC;
$red: #F24A3B;
$text-color: #010101;

*{ 
  margin: 0; 
  padding: 0; 
  border: 0;
  box-sizing: border-box; 
  scroll-behavior: smooth;
}

::-moz-selection { /* Code for Firefox */
  color: $bg-color;
  background: $red;
}

::selection {
  color: $bg-color;
  background: $red;
}

body{
  background-color: $bg-color;
  overflow-x: hidden!important;
  h1, h2, h3, h4, h5, h6{
    font-family: Adeston;
    font-weight: 200;
    text-transform: uppercase;
    color: $red;
    line-height: 1em;
  }
  h3{font-size: 30px;}
  h2{
    font-size: 150px;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
      font-size: 100px!important;
    }
    @media screen and (max-width: 600px){
      font-size: 65px!important;
    }
  }
  h4{font-size: 50px;}
  p, a, span, button, div, input, textarea{
    font-family: 'Raleway', sans-serif;
    color: $text-color;
    font-size: 17px;
    line-height: 1.4em;
  }
  a{
    text-decoration: none;
  }
  button{cursor: pointer;text-transform: uppercase;background-color: $bg-color;}
}

header{
  margin:auto;
  padding: 0px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid $text-color;
  width: 100vw!important;
  position:fixed;
  background-color: $bg-color;
  z-index: 100;
  @media screen and (max-width: 600px){
    flex-direction: column;
    padding: 0px!important;
  }
  h3{
    color: $text-color;
    @media screen and (max-width: 600px){
      margin: 8px;
    }
  }
  nav{
    width: 50%;
    @media screen and (max-width: 600px){
      width: 100%;
      border-top: #010101 1px solid;
    }
    ul{
      list-style: none;
      display: flex;
      justify-content: space-around;
      li{
        padding:15px 0px;
        text-align: center;
        border-right: 1px solid black;
        width: 100%;
        &:last-child{
          border-right: none;
        }
      }
    }
    a{text-transform: uppercase;}
  }

}

.page-transition{
  height: 200vh;
  background-color: $red;
  position: absolute;
  right:0;
  z-index: 1000;
  animation: slideIn 1.5s ease-in-out forwards;
  @keyframes slideIn {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }
}

main{
  width: 90%;
  margin: auto;
  .hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    @media screen and (max-width: 900px){
      flex-direction: column;
      padding-top: 100px;
      align-items: start;
    }
    h1{
      font-size: 50vh;
      font-weight: 100;
      position: relative;
      z-index: 10;
      @media screen and (max-width: 900px){
        font-size: 40vw;
        margin-left: -50px;
      }
      @media screen and (max-width: 600px){
        margin-left: -20px;
      }
    }
    .photo img{
      width: 400px;
      height: auto;
      object-fit: cover;
      filter: grayscale(1);
      margin-left: -100px;
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
        width: 400px;
        height: 700px;
        position: absolute;
        top: 50px;
        right: 0;
      }
      @media screen and (max-width: 600px){
        width: 200px;
        height: 350px;
        position: absolute;
        top: 100px;
        right: 0px;
      }
    }
    .info{
      padding: 0px 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 60vh;
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
        margin-top: 50px;
        height: 20vh;
        padding: 0px;
      }
      @media screen and (max-width: 600px){
        padding: 50px 5px;
        margin-top: 50px;
      }
      h2{
        color: $text-color;
        font-size: 40px!important;
        text-transform: none;
        margin-bottom: 20px;
      }
      p{
        text-transform: uppercase;
      }
      .sheets-btn {
        display: flex;
        justify-content: space-between;
        margin-top:20px;
        a{
          display: inline-block;
          text-align: center;
          width: 45%;
          padding: 10px;
          border: 1px solid $text-color;
          &:last-child{border-width: 0px 0px 1px;}
        }
      }
    }
  }

  .about{
    padding: 30vh 0vh;
    vertical-align: middle;
    @media screen and (max-width: 900px){
      padding: 200px 0vh;
    }
    .columns{
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: center;
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
        grid-template-columns: 1fr 1fr;
      }
      @media screen and (max-width: 600px){
        display: block;
      }
      h2{
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
          font-size: 100px!important;
        }
        @media screen and (max-width: 600px){
          font-size: 70px!important;
        }
      }
      .title p{
        text-transform: uppercase;
        margin-bottom: 30px;
      }
    }
    .skills{ 
      width:100%;
      height:55px; 
      overflow: hidden;
      margin-top: 25px;
      position: absolute;
      left: 0;
      h4{
        white-space: nowrap; 
      -webkit-animation: loop 5s infinite linear;
        animation: loop 15s infinite linear;
      }
      @keyframes loop {
        100% {
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
        }
      }
    }
  }
}

.projects{
  padding-top: 100px;
  .first-row, .second-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
    margin-top: 10px;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (max-width: 600px){
      grid-template-columns: 1fr;
      img{
        width: 95%!important;
      }
    }
    .project{
      border-bottom: $red 1px solid;
      margin-bottom: 50px;
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
        width: 49%;
      }
      img{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      div{
        padding: 20px;
        h3{
          font-size: 50px;
          @media screen and (max-width: 900px){
            font-size: 34px;
            line-height: 1.3em;
          }
        }
        p{text-transform: uppercase;}
      }
    }
  }
}

footer{
  margin: auto;
  a{
    color: $red;
    line-height: 2em;
  }
  .email{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-top: 1px solid black;
    @media screen and (max-width: 600px){
      flex-direction: column;
      gap: 0px;
      padding: 0px 20px;
      padding-top: 150px;
    }
    a{font-size: 20px;}
    h4{color: $text-color;}
  }
  form{
    width: 50%;
    margin:auto;
    margin-bottom: 20vh;
    display: flex;
    flex-direction: column;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
      width: 80%;
    }
    @media only screen and (max-device-width: 600px){
      width: 95%;
      margin-top: 50px;
    }
    button{
      height: 45px!important;
      margin-top: 50px;
      background-color: $text-color;
      color: white;
      &:hover{
        background-color: #F24A3B;
        transition: 0.5s background-color;
      }
    }
    input, textarea{
      height: 45px;
      padding: 5px 30px;
      border: 1px solid $text-color;
      margin: 7px;
      background-color: $bg-color;
      &::placeholder {color:#8f8a83}
      &focus{
        background-color: #F4F1EC;
      }
    }
    textarea{
      min-height: 100px;
      max-height: 300px;
    }
  }
  .social{
    padding:30px 5%;
    margin-bottom: 15px;
    border-top: solid 1px $text-color;
    display: flex;
    justify-content: space-between;
    align-items: end;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
      justify-content: start;
      padding: 30px 5px;
    }
    @media screen and (max-width: 600px){
      padding: 30px 15px;
      flex-direction: column-reverse;
      align-items: flex-start!important;
    }
    div{
      display: flex;
      padding-right:50px;
      
      @media screen and (max-width: 600px){
        padding: 0px!important;
      }
      .ig, .git{
        padding: 0px 50px;
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
          padding-left: 30px;
        }
        @media screen and (max-width: 600px){
          padding-right: 0px;
        }
        p{color: $red;}
        h4{color: $text-color;}
      }
      @media screen and (max-width: 600px){
        h4{font-size: 25px;}
      }
    }
    
  }
}

.wrapper {
  position: fixed;
  bottom: 7px;
  right:10px;
  z-index: 1000;
  p{
       font-size: 15px;
       text-align: center;
       text-transform: uppercase;
  }
  #hide-checkbox {
       opacity: 0;
       height: 0;
       width: 0;
     }
     
     .toggle {
       position: relative;
       cursor: pointer;
       display: inline-block;
       width: 120px;
       height: 65px;
       border:1px solid black;
       background-color: $bg-color;
       background-size:cover;
       background-position: center;
       border-radius: 50px;
       transition: 500ms;
       overflow: hidden;
       -webkit-box-shadow: 2px 7px 21px -6px rgba(244,241,236,0.72); 
      box-shadow: 2px 7px 21px -6px rgba(85, 75, 57, 0.72);
      @media screen and (max-width: 600px){
        width: 90px;
        height: 40px;
      }
       .toggle-button {
            position: absolute;
            display: inline-block;
            top: 6px;
            left: 7px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: $red;
            border:1px solid black;
            overflow: hidden;
            transition: all 500ms ease-out;
            @media screen and (max-width: 600px){
              width: 30px;
              height: 30px;
              top: 4px;
              left: 6px;
            }
          }
     }
  
     #hide-checkbox:checked + .toggle {
      background-color: $red;
    }

    #hide-checkbox:checked + .toggle .toggle-button {
       background: $bg-color;
       transform: translateX(45px);
     }
}
